<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ingenium.simplequizapps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NumberActivity" />
        <activity android:name=".SpellingqzActivity" />
        <activity android:name=".FruitqzActivity" />
        <activity android:name=".Number_qz_2Activity" />
        <activity android:name=".Number_qz_3Activity" />
        <activity android:name=".Number_qz_5Activity" />
        <activity android:name=".Numberqz_4Activity"></activity>
    </application>

</manifest>